{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} - Ajouter un film

{% endblock %}

{% block body %}

<h1 class="mt-5">Ajouter un nouveau film</h1>

{{ form_start(form) }}

{{ form_widget(form) }}

<a class="btn btn-primary" href="{{ path('movie_list') }}">Annuler</a>
<button class="btn btn-primary" type="submit">Ajouter</button>

{{ form_end(form) }}

{% endblock %}