{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} - Modifier un Film

{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-start mt-5">
    <h1>Modifier {{ movie.title }}</h1>
    <a href="{{ path('movie_delete', {'id' : movie.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film ?')">
        Supprimer {{movie.title }}
    </a>
</div>

{{ form_start(form) }}

{{ form_widget(form) }}

<div class="mb-5">
    <button type="button" class="btn btn-primary" onclick="createNewActorMovieForm()">Ajouter un acteur</button>
    <a class="btn btn-primary" href="{{ path('movie_view', {'id' : movie.id}) }}">Annuler</a>
    <button class="btn btn-primary" type="submit">Modifier</button>
</div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

<script>
    const movieActorFormList = document.querySelector("#movie_movieActors");
    const prototype = movieActorFormList.dataset.prototype;
    let currentIndex = movieActorFormList.children.length;


    function createNewActorMovieForm() {

        const newElement = document.createElement('div');
        newElement.innerHTML = prototype.replace(/__name__/g, currentIndex);
        currentIndex ++;
        movieActorFormList.appendChild(newElement);
    }
</script>

{% endblock %}