{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Movie View {% endblock %}

{% block body %}

    <h1>{{ movie.title }}</h1>
    <p> {{ movie.category.label }}</p>
    <p>Directed by {{ movie.director.name }}</p>

    {% if movie.award is not empty %}

    <ul>

        {% for awards in movie.award %}

        <li>{{ awards.title }} {{ awards.year }}</li>

        {% endfor %}

    </ul>

    {% else %}

    <p>Ce film n'a obtenu aucune récompense</p>

    {% endif %}

    {% if movie.actors is not empty %}

    <ul>

        {% for actors in movie.actors %}

        <li>{{ actors.name }}</li>

        {% endfor %}

    </ul>

    {% else %}

    <p>Ce film n'a pas d'acteurs !</p>

    {% endif %}

{% endblock %}
