{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} - Modifier une Personne

{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-start mt-5">
    <h1>Modifier {{ person.name }}</h1>
    <a href="{{ path('person_delete', {'id' : person.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette personne ?')">
        Supprimer {{ person.name }}
    </a>
</div>

{{ form_start(form) }}

{{ form_widget(form) }}

<a class="btn btn-primary" href="{{ path('person_view', {'id' : person.id}) }}">Annuler</a>
<button class="btn btn-primary" type="submit">Modifier</button>

{{ form_end(form) }}

{% endblock %}