{{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('post_index') }}" class="btn btn-primary">Annuler</a>
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
