{% extends 'base.html.twig' %}

{% block title %}Article n°{{ post.id }}
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-start mt-5">
		<h1>Article n°{{ post.id }}</h1>
		<a href="{{ path('post_edit', {'id' : post.id}) }}" class="btn btn-primary">Modifier l'article n°{{ post.id }}</a>
	</div>

	<dl class="mt-5">
		{% if post.title is not empty %}
			<dt>Titre</dt>
			<dd>
				{{ post.title }}
			</dd>
		{% endif %}
		{% if post.content is not empty %}
			<dt>Contenu</dt>
			<dd>
				{{ post.content }}
			</dd>
		{% endif %}
		{% if post.createdAt is not empty %}
			<dt>Date de création</dt>
			<dd>
				{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
			</dd>
		{% endif %}
	</dl>

	<a href="{{ path('post_index') }}" class="btn btn-primary">Revenir à la liste</a>

{% endblock %}
